<youtube-player
  [videoId]="musicID"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
  height="1"
  width="1"
></youtube-player>

<h3 id="title">Los Santos Radio</h3>
<div id="player">
  {{currentSong.artist}} - {{currentSong.name}}
</div>
<div id="info">
  <span
    class="{{currentRadio === radio ? 'current' : ''}} {{radio.color}}"
    [title]="radio.name"
    *ngFor="let radio of radios;let i=index;" (click)="changeStation(radio)"
    [ngStyle]="{transform: 'rotate('+((i+1) * degrees)+'deg) translate('+(innerHeight - (elSize + 10)) / 2+'px) rotate(-'+((i+1) * degrees)+'deg)'}"
  >
    <img [src]="radio.image" [alt]="radio.name">
  </span>
</div>
