@import "SignPainter.css";
#info {
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#info span {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4em;
  height: 4em;
  margin: -2em;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
}
#info span img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  border-radius: 100%;
  filter: grayscale(100%);
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.3);
}
#info span img:hover {
  filter: grayscale(0%);
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
}
#info span.current img {
  border: 3px solid gray;
  box-sizing: border-box;
  filter: grayscale(0%);
  opacity: 1;
  background: rgba(0, 0, 0, 0.75);
}
#info span.current.white img {
  background: rgba(255,255,255, 0.75);
}
#info span.current:after,
#info span.current:before {
  opacity: .1;
  transition: all .3s;
}
#info span.current.paused:after,
#info span.current.paused:before {
  opacity: 1;
}
#info span.current:hover:after,
#info span.current:hover:before {
  opacity: 1;
}
#info span.current:not(.paused):after {
  content: '';
  position: absolute;
  top: 20%;
  left: 30%;
  width: 10px;
  height: 60%;
  background: #04944c;
  z-index: 10;
}
#info span.current:not(.paused):before {
  content: '';
  position: absolute;
  top: 20%;
  right: 30%;
  width: 10px;
  height: 60%;
  background: #04944c;
  z-index: 10;
}
#info span.current.paused:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 25px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-left:25px solid #e6bc05; 
  z-index: 10;
}
#player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  font-family: SignPainter;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}
#player #station {
  font-size: 40px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
